.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.frontPage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 705px;
}

.frontPage-description {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding-left: 3%;
  padding-top: 13%;
  z-index: 1;
  width: 47%;
  height: 120%;
  background-color: white;
}

.frontPage-description-title {
  font-family: Inter, sans-serif;
  font-weight: bold;
  font-size: 4.5em;
  line-height: 1em;
  margin-bottom: 0.5em;
  padding-right: 3%;
}

.frontPage-description-title>span {
  color: #00b98d;
}

.frontPage-description-text {
  font-family: Inter, sans-serif;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.5em;
  width: 90%;
}

.frontPage-description-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 10em;
  height: 3em;
  border: 2px #00b98d solid;
  border-radius: 10px;
  background-color: #00b98d;
  font-family: Inter, sans-serif;
  font-size: 1.5em;
  color: white;
  cursor: pointer;
  transition-duration: 0.3s;
}

.frontPage-description-button:hover {
  background-color: #33c7a5;
  box-shadow: 0 0 15px #00b98d;
}

.frontpage-images-container {
  position: absolute;
  overflow: hidden;
  width: 100%;
  z-index: -2;
}

.frontpage-images {
  display: flex;
  transition: transform 1.5s ease-in-out;
}

.frontpage-image {
  min-width: 50%;
  min-height: 59em;
}

.frontpage-button-container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  top: -15%;
  left: 97%;
  width: 4em;
}

.frontpage-button {
  position: relative;
  font-size: 24px;
  cursor: pointer;
  z-index: 2;
  border: #00b98d 1px solid;
  border-radius: 100px;
  background-color: #00b98d;
  margin-top: 5px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: white;
  transition-duration: 0.3s;
}

.frontpage-button:hover {
  background-color: #0e2e50;
  border-color: #0e2e50;
}

@media screen and (max-width: 1168px) {
  .frontPage {
      flex-direction: column;
      height: 1000px;
  }

  .frontPage-description {
      width: 100%;
      height: 15em;
      padding: 5% 1%;
      padding-top: 15%;
      z-index: 0;
      background-color: rgba(255,255,255,0.9);
  }

  .frontPage-description-title {
      font-size: 2.5em;
  }

  .frontPage-description-text {
      font-size: 1em;
      width: 100%;
  }

  .frontPage-description-button {
      margin-left: 35%;
      padding: 1rem 0rem 1rem 0rem;
  }

  .frontpage-images-container {
      height: auto;
      position: relative;
  }

  .frontpage-images {
      flex-direction: row;
  }

  .frontpage-image {
      min-width: 100%;
      padding-top: 20%;
  }

  .frontpage-button-container {
      position: relative;
      flex-direction: column;
      top: 20rem;
      left: 1rem;
      z-index: 15;
      margin-top: 1em;
  }
}